
# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/ # User-uploaded media files
static_collected/ # Collected static files (if you collect them to a separate directory)

# Virtual Environment
.env
venv/
env/

# IDE-specific files (e.g., PyCharm)
.idea/

# Operating System specific files
.DS_Store
Thumbs.db

# Other files
.coverage
.tox/
.eggs/
.env
temsmet/media
media